body, nav, ul {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Estilo da nav bar */
  .navbar {
    display: flex; /* Aqui cria um elemento flex em que os elementos poderão ser separado */
    overflow: hidden; /* Esconde o conteúdo que não cabe na tela */
    width: 100%; /* Largura total da tela */
    position: sticky; /* Fixa a barra de navegação no topo da tela */
    top: 0; /* Fixa a barra de navegação no topo da tela */
    z-index: 1000;  
    justify-content: space-between; /* separa imagem e menu */
    align-items: center;            /* centraliza verticalmente */
    padding: 0.3% 1rem; /* espaçamento interno para espaçar os elementosd de dentro da nav bar e o topo da navbar */
    background-image:  /* Define a imagem de fundo para texturizar, além de adicionar um gradiente acima */
    url(./img/Fundo/BG6.png), /* imagem de fundo */
    linear-gradient(to right, #757575, #6c00a1 );
    background-size: cover;              /* A textura cobre o navbar inteiro cobre toda a área */
    background-blend-mode: overlay;      /* mistura textura com gradiente */
  }
  

  /* Estilo dos da lista de navegação */
  .navbar ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Cria um elemento flex em que os elementos poderão ser separados, por espaçamento */
    flex-direction: row; /* Alinha os elementos na horizontal */
    gap: 2rem; /* Espaçamento entre os elementos */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o espaçamento interno padrão */
  }
  
  .navbar a {
    color: rgba(128, 57, 221);
    text-decoration: none;

    cursor: pointer; /* Muda o cursor para uma mãozinha quando passa por cima do link */

    /* relacionados a fontes*/
    font-weight: bold; /* Define o peso da fonte */
    font-size: 1.3rem; /* Tamanho da fonte */
    font-family: sans-serif; /* Define a fonte da lista de navegação */
    /*-webkit-text-stroke: rgb(0, 0, 0) 0.3px; /* Adiciona um contorno ao texto */ 

    /* Transição suave para o efeito de hover */
    transition: all 0.5s ease-in-out; /* Transição suave para o efeito de hover */
  }

  .navbar a:hover {
    text-shadow:
    0 0 5px rgb(81, 64, 102),
    0 0 10px rgb(81, 64, 102),
    0 0 20px rgb(81, 64, 102),
    0 0 40px rgb(81, 64, 102);
    font-size: 1.4rem; /* Tamanho da fonte */
  }
  
  .logo {
    filter :drop-shadow(0 1px 1px rgba(208, 172, 255, 0.5));
    transition: all 0.3s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.05) scale(1.05);
    filter :drop-shadow(0 2px 2px rgba(208, 172, 255, 0.5));
  }

  .glow-animated {
    animation: glowFilter 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glowFilter {
    from {
      filter: brightness(1) drop-shadow(0 0 5px #00ffcc);
    }
    to {
      filter: brightness(1.5) drop-shadow(0 0 15px #00ffcc);
    }
  }
  
  /* Fontes */
  @font-face {
    font-family: 'Caligrafia';
    src: url('./Fontes/lofty-goals-font/LoftygoalsRegular-9Y5Xy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  